.sidebar {
  padding-top: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  &__section-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
