.field-list {
  border: 1px solid purple;
  padding: 0.75rem;
  color: rgb(15, 23, 42);
  display: flex;
  gap: 0.75rem;

  .field {
    position: relative;
    height: 100px;
    border: 1px dashed blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    &__handle {
      position: absolute;
      top: 50%;
      right: 0;
      border-radius: 50%;
      width: 20px;
      cursor: pointer;
      height: 20px;
      background: blue;
      transform: translate(50%, -50%);
    }

    &--wide {
      flex: 2 !important;
    }
  }
}

// Drag and drop styles
.field.cdk-drop-list-dragging {
  background: orange;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
